#background {
    height: 725px;
}
#content {
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: #d9c2a3;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section {
    text-align: center;
}
body {
    background-color: #ffffff; 
     font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.book, .join {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: blue;
}
#background {
    background-color:#393b34;
}
.msg {
    background-color: rgb(87, 87, 87);
     line-height: 1.5em;
     padding: 35px;
}
footer a {
    background-color: #6e6e6e;
    text-decoration: none;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
.logo {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}    
.home-title  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: #d9c2a3;
}
.msg h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d9c2a3;
}
.book .join {
    font-size: 18px;
    padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px;
     color: #d9c2a3;
}
.msg p {
    font-size: .8em;
    color: #d9c2a3;
}
h2 {
    margin: 0;
}
footer .social img {
     padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer {
    margin-top: 200px;
}
.card-img {
    border: 10px solid #000000; 
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display : grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white
}
#hero-msg {
   grid-column: 2/3;
   grid-row: 1/2;
   margin-top: 100px;
}
#hero-img {
    width: 100%;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/4;
}
#background {
    grid-column: 1/11;
    grid-row: 5/8;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-grid {
    display :grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #6f7364;
    padding: 35 px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5 px 5px 10 px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
footer a:hover {
    color: #d9c2a3;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}